<h1>Listing postits</h1>

<table id="products" class="display">
  <thead>
  <tr>
    <th>Responsible</th>
    <th>Title</th>
    <th>Content</th>
    <th>Status</th>
    <th>Deadline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @postits.each do |postit| %>
  <tr>
    <td><%= postit.user.name%></td>
    <td><%= postit.title %></td>
    <td><%= postit.content %></td>
    <td><%= postit.status %></td>
    <td><%= postit.deadline_timestamp.to_formatted_s(:short) %></td>
    <td><%= link_to 'Show', postit %></td>
    <td><%= link_to 'Edit', edit_postit_path(postit) %></td>
    <td><%= link_to postit, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="ui-icon ui-icon-trash"></span>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Postit', new_postit_path %>
