<h1>Listing postits</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Create timestamp</th>
    <th>Status</th>
    <th>Deadline timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postits.each do |postit| %>
  <tr>
    <td><%= postit.title %></td>
    <td><%= postit.content %></td>
    <td><%= postit.create_timestamp %></td>
    <td><%= postit.status %></td>
    <td><%= postit.deadline_timestamp %></td>
    <td><%= link_to 'Show', postit %></td>
    <td><%= link_to 'Edit', edit_postit_path(postit) %></td>
    <td><%= link_to 'Destroy', postit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Postit', new_postit_path %>
