<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @user.name %>
</p>

<p>
  <b>Title:</b>
  <%= @postit.title %>
</p>

<p>
  <b>Content:</b>
  <%= @postit.content %>
</p>

<p>
  <b>Created at:</b>
  <%= @postit.created_at.to_s(:db) %>
</p>

<p>
  <b>Status:</b>
  <%= @postit.status %>
</p>

<p>
  <b>Deadline timestamp:</b>
  <%= @postit.deadline_timestamp.to_s(:db) %>
</p>


<%= link_to 'Edit', edit_postit_path(@postit) %> |
<%= link_to 'Back', postits_path %>
